/*TODO: use materialize instead and zero css*/

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: local('Orbitron Black'), local('Orbitron-Black'), url(fonts/Orbiton900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html, body, * {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}


.black-screen-header {
  font-family: Orbitron;
  background: #333;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 60px;
  padding-top: 9px;
  margin: 0;
  padding-left: 20px;
  font-size: 35px;
}

.buttons {
  text-align: center;
  margin: 13px auto;
  font-size: 0.9rem;
  position: relative;
}

#krk-map {
  /*border: 1px dashed red;*/
  margin-top: -100px;
}

.top-container {
  display: inline-block;
  width: 24%;
  position:absolute;
  left: 0;
}

.text-container {
  width: 100%;
  height: auto;
  color: #333!important;
  text-align: center;
}

.svg-container {
  display: inline-block;
  width: 75%;
  position: absolute;
  right: 0;
}

.bs-content .loading-indicator {
  display: none;
}

.bs-content {
  position: relative;
}

.host-up {
  fill: red !important;
}

.host-down {
  fill: grey !important;
}

.conf_placeholder {
  fill: #F5F7F8;
}

.conf_placeholder_x0020_2 {
  fill: #F5F7F8;
}

.conf_placeholder_x0020_3 {
  fill: #F5F7F8;
}

.equipment {
  fill: #FFFFFF;
}

.reserved {
  fill: #AEADAD;
}

.table_placeholder {
  fill: #E1E1E1;
}

.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: #F8FAFA;
}

.st2 {
  fill: #F8FAFA;
  stroke: #F6F7F7;
  stroke-miterlimit: 10;
}

.st3 {
  fill: none;
}

.st4 {
  fill: #99999A;
}

.st5 {
  fill: none;
  stroke: #D8D8D8;
  stroke-miterlimit: 10;
}

.st6 {
  fill: #9B9B9B;
}

.st7 {
  font-family: 'OpenSans-Semibold';
}

.st8 {
  font-size: 10.7996px;
}

.st9 {
  letter-spacing: 1;
}

.st10 {
  fill: #F6F8F8;
}

.st11 {
  font-size: 9.0509px;
}

.st12 {
  font-size: 8.286px;
}

.st13 {
  fill: #B4B4B4;
}

.st14 {
  font-size: 8.6397px;
}

.st15 {
  fill: #B3B2B3;
}

.st16 {
  font-size: 8.8643px;
}

.st17 {
  font-size: 9px;
}

.st18 {
  font-size: 12px;
}

.st19 {
  font-size: 11.0527px;
}

.st20 {
  display: none;
}

.st21 {
  display: inline;
  fill: #3AB556;
}

.st22 {
  display: inline;
  fill: #FFFFFF;
}

.st23 {
  display: inline;
  fill: #EF4523;
}

.st24 {
  display: inline;
  fill: #959595;
}

.st25 {
  font-size: 8px;
}

.st26 {
  font-size: 11px;
}

.st27 {
  fill: #E2E2E2;
}

.st28 {
  display: none;
  fill: #AEAEAE;
}

.st29 {
  display: none;
  fill: #FFFFFF;
}

.st30 {
  fill: #989898;
}

.st31 {
  font-family: 'OpenSans';
}

.st32 {
  font-size: 8.2667px;
}

.st33 {
  display: none;
  fill: #AEADAD;
}

.st34 {
  enable-background: new;
}

.equipment {
  fill: #FFFFFF;
}

.reserved {
  fill: #AEAEAE;
}

.table_placeholder {
  fill: #E2E2E2;
}

.conf_placeholder {
  fill: #F6F8F8;
}

#wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  /*overflow: hidden;*/
  text-align: center;
}

#stage {
  box-sizing: border-box;
  padding: 0 40px 0 0;
  margin: 20px auto 0;
  text-align: center;
  max-width: 100%;
}

.intro {
  z-index: 9999;
  position: absolute;
  height: 100%;
  top: 0;
  background: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dg.ac {
  display: none;
}

.buttons .preloader-wrapper {
  display: none;
}

.buttons .loading span {
  visibility: hidden;
}

.buttons .loading .preloader-wrapper {
  display: inline-block;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
}

.buttons button {
  padding: 0 10px;
}
