@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: local('Orbitron Black'), local('Orbitron-Black'), url(fonts/Orbiton900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html, body, * {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.black-screen-header {
  font-family: Orbitron;
  background: #333;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 60px;
  padding-top: 9px;
  margin: 0;
  padding-left: 20px;
  font-size: 35px;
}

.buttons {
  text-align: center;
  margin: 13px auto;
  font-size: 0.9rem;
  position: relative;
}

.top-container {
  display: inline-block;
  width: 24%;
  position: absolute;
  left: 0;
  margin-top: 10px;
}

.text-container {
  width: 100%;
  height: auto;
  color: #333!important;
  text-align: center;
}

.svg-container {
  display: inline-block;
  width: 75%;
  position: absolute;
  right: 0;
}

.bs-content .loading-indicator {
  display: none;
}

.bs-content {
  position: relative;
}

#wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  /*overflow: hidden;*/
  text-align: center;
}

#stage {
  box-sizing: border-box;
  padding: 0 40px 0 0;
  margin: 20px auto 0;
  text-align: center;
  max-width: 100%;
}

.intro {
  z-index: 9999;
  position: absolute;
  height: 100%;
  top: 0;
  background: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.buttons-container {
    padding-top: 20px;
}
.buttons .preloader-wrapper {
  display: none;
}

.buttons .loading span {
  visibility: hidden;
}

.buttons .loading .preloader-wrapper {
  display: inline-block;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
}

.buttons button {
  padding: 0 10px;
}
