/*TBD*/
/*TODO: use materialize instead and zero css*/
html, body, * {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.map {
  position: relative;
}

.krkmap {
  width: 1360px;
  height: 607px;
}

.krkmap div {
  position: absolute;
  width: 15px;
  height: 39px;
  top: 22px;
  left: 94px;
}
