/*https://semantic-ui.com/collections/grid.html*/
/*--------------
      Grid
---------------*/

#example .highlighted.example .grid {
  position: relative;
}
#example .highlighted.example .grid:before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #FAFAFA;
  content: '';
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  box-shadow: 0px 0px 0px 1px #DDDDDD inset;
}
#example .highlighted.example .relaxed.grid:before {
  width: calc(100% - 3rem);
  left: 1.5em;
}
/* Consecutive */
#example .highlighted.example > .grid + .grid {
  margin-top: 1rem;
}

#example .highlighted.example .grid .grid:before {
  background-color: #F0F0F0;
}
#example .highlighted.example .row {
  position: relative;
}

#example .highlighted.example .grid > .column {
  position: relative;
  z-index: 11;
}
#example .highlighted.example .grid .column:not(.row):not(.grid):after {
  background-color: rgba(86, 61, 124, .1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
  box-shadow: 0px 0px 0px 1px rgba(86, 61, 124, 0.2) inset;
  content: "";
  display: block;
  min-height: 50px;
}
#example .highlighted.example .grid .column:not(.grid):first-child,
#example .ui.type.cards .image .grid .column:not(.grid):first-child {
  box-shadow: none;
}
#example .highlighted.example .grid .column:not(.grid),
#example .ui.type.cards .image .grid .column:not(.grid) {
  min-height: 50px;
}
#example .highlighted.example .grid .segment,
#example .ui.type.cards .image .grid .segment {
  border-radius: 0px;
  box-shadow: 0 0 0 1px #D4D4D4;
}
#example .negative.example > .button {
  position: relative;
  z-index: 100;
  margin: 0px 1px;
}
