/**
 * https://bl.ocks.org/mbostock/4063582
 */
form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
  font: 10px sans-serif;
}

/**
 * Custom CSS
 */

body {
    padding: 0 15%;
}
